{% extends 'base.html.twig' %}

{% block title %}Hello APIController!{% endblock %}

{% block body %}
<div class='container'>
    <h1 class='mb-3 mt-3'>Symfony/Ajax</h1>

    <div class="row">
        <h2 class="col-12">Fonction fetch</h2>
        <div class="col-6">
            <button type="button" class="btn btn-primary" onclick="fetchGet()">Get</button>
            <div class="col-6" id="getResponseFetch"></div>
            <input type="hidden" name="urlFetchGet" id="urlFetchGet" value={{ path('fetch_get')}}>
        </div>
        <div class="col-6">
            <input type="text" name="" id="fetchPostRequest">
            <input type="hidden" name="" id="urlFetchPost" value={{ path('fetch_post')}}>
            <button class="btn btn-primary" onclick="fetchPost()">Post</button>
            <div class="col-6" id="postResponseFetch"></div>
            
        </div>
    </div>
   

</div>  
{% endblock %}