{% extends 'base.html.twig' %}

{% block title %}Hello APIController!{% endblock %}

{% block body %}
<div class='container'>
    <h1 class='mb-3 mt-3'>Symfony/Ajax</h1>

    <div class="row">
        <h2 class="col-12">Fonction JQUERY</h2>
        
        
    </div>
   

</div>  
{% endblock %}